.inputs {
    padding: 10px;
}

#contents {
    width: 50%;
}

.updates input {
    margin-right: 0.3rem;
}

.c_writer {
    font-size: 1.3rem;
}

.c_title {
    font-size: 1.1rem;
    font-style: italic;
}

.c_body {
    font-size: 0.9rem;
}
